<main class="container" role="main">
<div class="row">
    <aside class="col-md-4">
      <ul>
        <li>
          <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
        </li>
      </ul>
    </aside>
    <div class="col-md-8"><div class="main-conent">

    </div></div>
</div>
</main>
